@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title : </h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Phone : </abbr>
    054-3401404
</address>

<address>
    <strong>Email:</strong>   <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">Keren4509@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/keren-hailu-58bb07218/">Linkedin</a><br />
    <strong>Github:</strong> <a href="https://github.com/kerenhailu">Github</a>

</address>