<style>
    body {
        background-color: rgb(238, 195, 115);
    }
    #TypeOfEquipment {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2%;
        width: 90%;
        padding: 20px;
        justify-content: space-between;
    }
    #mainTitle {
        font-size: 50px;
        font-weight:bold;
    }
    .Equipment {
        box-shadow: 5px 5px 5px #2b2c2a;
        text-shadow: 2px 2px 2px rgb(133, 123, 123);
        width: 32%;
        height: 80px;
        font-size: 20px;
        background-color: rgba(248, 247, 232, 0.192);
        border-radius: 10px;
    }

        .Equipment a {
            color: black;
            text-decoration: none;
            transition: 1s;
            text-align:center;
                font-size: 35px;
        }
    .Title {
        font-size: 50px;
        text-shadow: 2px 2px 2px rgb(80, 79, 76);

        }    @*#imgGif {
        margin-left: 80%
    }*@

            @*.Equipment a:hover {
            }*@
    #sale{
height:20%;
width:50%;
    }
</style>
<h1 id="mainTitle" class="Title">
    Equipment Sport Hailu
</h1>
<img src="https://www.idosport.co.il/wp-content/uploads/2022/01/Pink-and-Yellw-Neon-Modern-Cyberpunk-Music-Party-Facebook-Ad-2001-x-500-px-2.png" height="46%" width="100%" />
<section id="TypeOfEquipment">
    <article class="Equipment">
        <a href="https://localhost:44397/Shirt/ShirtCard"><p>Shirt <img src="https://d3m9l0v76dty0.cloudfront.net/system/photos/1885264/large/832c1c668159b0809592cfd6773c9e4f.jpg" width="60px" height="30px" /></p></a>
    </article>
    <article class="Equipment">
        <a href="https://localhost:44397/Pants/CardOfPants"><p>Pants <img src="https://megasport.co.il/pub/media/catalog/product/cache/64e0e81253d182466b6d98ad19518a83/_/c/_core_mid_.png" width="65px" height="30px" /></p></a>
    </article>
    <article class="Equipment">
        <a href="https://localhost:44397/Shoes/CardShoes"><p>Shoes <img src="https://market.marmelada.co.il/images/detailed/6170/006_e2e739d3af1c4f15876e9898607ec3b7_dley-lu.png?source_page=products.view" width="60px" height="30px" /></p></a>
    </article>
</section>

<h2 class="Title">More about us :</h2>
<h3>
    This site believes in a healthy lifestyle<br />
    We here for you !!<br />
    Here you can buy a variety of products that will<br />
    help you be healthier and stronger!<br />
    You need to combine your private life and sports life
</h3>
<h2>Adress: Weizmann 22, Tel Aviv.</h2>

<img id="imgGif" src="~/Image/GiffMan.gif" width="96%" />

